*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0f172a,#1f4068,#ffb6d9);

overflow:hidden;

color:white;

}

.container{

text-align:center;

}

.gift{

font-size:110px;

cursor:pointer;

transition:.4s;

animation:bounce 2s infinite;

}

.gift:hover{

transform:scale(1.12);

}

@keyframes bounce{

50%{

transform:translateY(-18px);

}

}

h2{

margin-top:15px;

}

#message{

margin-top:30px;

font-size:20px;

line-height:1.9;

}

button{

margin-top:35px;

padding:15px 38px;

border:none;

border-radius:50px;

background:#ff4d88;

color:white;

font-size:17px;

display:none;

cursor:pointer;

}

.confetti{

position:fixed;

top:-20px;

width:12px;

height:18px;

animation:fall linear forwards;

}

@keyframes fall{

to{

transform:translateY(110vh) rotate(720deg);

}

}
