*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:30px;
background:linear-gradient(135deg,#091428,#1f4068,#f8cdda);
overflow:auto;
}

/* Background Glow */

body::before{
content:"";
position:fixed;
width:500px;
height:500px;
background:#ffb6d9;
filter:blur(180px);
top:-150px;
left:-150px;
opacity:.35;
z-index:-1;
}

.paper{

width:95%;
max-width:700px;

background:#fffdf8;

padding:45px;

border-radius:25px;

box-shadow:0 25px 60px rgba(0,0,0,.35);

animation:fade 1s;

}

h1{

font-family:'Dancing Script',cursive;

font-size:55px;

text-align:center;

color:#ff4f8b;

margin-bottom:25px;

}

.letter p{

font-size:18px;

line-height:2;

color:#444;

margin-bottom:18px;

text-align:justify;

}

h2{

font-family:'Dancing Script',cursive;

text-align:center;

font-size:34px;

color:#ff4f8b;

margin-top:25px;

}

button{

display:block;

margin:35px auto 0;

padding:16px 42px;

border:none;

border-radius:50px;

background:linear-gradient(135deg,#ff6fa5,#ff3d7f);

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

box-shadow:0 12px 30px rgba(255,80,140,.45);

}

button:hover{

transform:scale(1.05);

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}
